
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; 
    color: #f0f0f0; 
}

header {
    background-color: #000; 
    color: #ffd700; 
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #ffd700; 
}

main {
    padding: 20px;
}


#batman {
    text-align: center;
    margin-bottom: 40px;
}

.sobre-o-batman h3 {
    color: #ffffff; 
}

.sobre-o-batman img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    border: 3px solid #000000; 
}

.sobre-o-batman p {
    color: #ccc; 
}


#aliados {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.aliado {
    background-color: #1808a5; 
    border: 2px solid #000000; 
    border-radius: 10px;
    padding: 15px;
    width: calc(33.33% - 40px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    transition: transform 0.3s ease; 
}

.aliado:hover {
    transform: scale(1.05); 
}

.aliado h5 {
    color: #000000; 
    margin: 0 0 10px;
}

.imgalfred {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid #000000; 
}

.imgrobin {
    width: 250px; 
    height: auto;
    border-radius: 5px;
    border: 2px solid #000000; 
    margin-top: 10px;
}

.imgjames {
    width: 150px; 
    height: auto;
    border-radius: 5px;
    border: 2px solid #000000; 
    margin-top: 10px;
}

#viloes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.vilao {
    background-color: #1808a5; 
    border: 2px solid #000000; 
    border-radius: 10px;
    padding: 15px;
    width: calc(33.33% - 40px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    transition: transform 0.3s ease; 
}

.vilao:hover {
    transform: scale(1.05); 
}

.vilao h5 {
    color:  #ffd700;
    margin: 0 0 10px;
}

.imgarlequina{

    width: 250px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #000000; 
    margin-top: 10px;

}

h2{

    color: #ffd700;
    gap: 30px;

}

.imgcharada{

    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #000000;
    margin-top: 10px;
    
}

.imgvictor{

    
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #000000;
    margin-top: 10px;


}

footer{

    text-align: center;
    border: 3px solid #000000

}